{% extends 'core/base.html' %}

{% block content %}
<h5>Usuarios</h5>
<hr>
<form class="input-group">
    <div class="row">
        <div class="col-md-4">
            <input type='text'>
        </div>
    </div>
</form>
<table class="table table-bordered" id="users_table" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Nombre Usuario</th>
            <th>Fecha Creacion</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.date_joined }}</td>
        <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}